{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Project</h1>

    <p>I'm Eddie Barraco, a french web developer from <a href="https://idci-consulting.fr">IDCI Consulting</a> and this is my personal blog.</p>
    <p>I'll develop some of my thinks which are important, or not.</p>
{% endblock %}
