{% extends 'base.html.twig' %}

{% block body %}
    <article>
        {% for post in posts %}
            <a href="{{ path('public.post.show', {fileName: post.getFileName}) }}">{{ post.getFormatedTitle }}</a>
        {% endfor %}
    </article>
{% endblock %}
