{% extends 'base.html.twig' %}

{% block body %}
    <article>
        {% for post in posts %}
            <a href="{{ path('public.post.show', {postId: post.getId}) }}">{{ post.getFormatedTitle | raw }}</a>
            <p>{{ post.getFormatedSummary | raw }}</p>
        {% endfor %}
    </article>
{% endblock %}
