{% extends 'base.html.twig' %}

{% block body %}
    <ul id="post-summaries">
        {% for post in posts %}
            <li>
                <article>
                    <a href="{{ path('public.post.show', {postId: post.getId}) }}">{{ post.getFormatedTitle | raw }}</a>
                    {{ post.getFormatedSummary | raw }}
                    <a id="read-more-link" href="{{ path('public.post.show', {postId: post.getId}) }}">Read more...</a>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
