{% extends 'base.html.twig' %}

{% block body %}
    {% for postName in postNames %}
        <a href="{{ path('public.post.show', {postName: postName}) }}">{{ postName }}</a>
    {% endfor %}
{% endblock %}
