{% extends 'base.html.twig' %}

{% block body %}
    <article>
        {{ title | raw }}
        <div id="post-summary">
            {{ summary | raw }}
        </div>
        {{ body | raw }}
    </article>
{% endblock %}
